@model List<Trangweb.Models.Cart>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <tr>
        <th>Số thứ tự</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>
    @{int i = 1; float totPrice = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@item.Product.Name</td>
            <td>
                <input type="number" value="@item.Quantity" name="quan" min="1" style="width: 70px;" class="quantity-input" data-price="@item.Product.Price" />
                @*<input type="submit" value="Update" class="btn btn-primary update-quantity" />*@
            </td>
            <td class="total-price">
                @{
                    float Price = item.Quantity * item.Product.Price;
                    i++;
                    totPrice += Price;
                }
                @Price.ToString("N0") VNĐ
            </td>
            <td>
                @Html.ActionLink("Xóa", "Remove", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    <tr>
        <td colspan="4" class="text-center fw-bold">Tổng tiền</td>
        <td class="cart-total-price">@totPrice.ToString("N0") VNĐ</td>
    </tr>
</table>
<p style="margin-left: 300px;">@Html.ActionLink("Tiếp tục mua hàng", "Index", "Category")</p>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.quantity-input').on('change', function () {
                var quantity = $(this).val();
                var pricePerItem = $(this).data('price');
                var totalPrice = quantity * pricePerItem;

                // Cập nhật giá tổng trong trang
                $(this).closest('tr').find('.total-price').text(totalPrice.toString() + ' VNĐ');

                // Cập nhật tổng giá trị giỏ hàng
                var totalCartPrice = 0;
                $('.total-price').each(function () {
                    totalCartPrice += parseFloat($(this).text());
                });
                $('.cart-total-price').text(totalCartPrice.toString() + ' VNĐ');
            });
        });
    </script>*@


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.quantity-input').on('change', function () {
            var quantity = $(this).val();
            var pricePerItem = $(this).data('price');
            var totalPrice = quantity * pricePerItem;

            // Cập nhật giá tổng trong trang
            $(this).closest('tr').find('.total-price').text(totalPrice.toString() + ' VNĐ');

            // Cập nhật tổng giá trị giỏ hàng
            var totalCartPrice = 0;
            $('.total-price').each(function () {
                totalCartPrice += parseFloat($(this).text());
            });
            $('.cart-total-price').text(totalCartPrice.toString() + ' VNĐ');
        });
    });
</script>



@section narbar {
    <div></div>
    <div class="c1">
        <i class="fa-solid fa-bars"></i>DANH MỤC SẢN PHẨM

    </div>
    @foreach (var item in ViewBag.Loai)
    {
        <div class="c3">

            <a href="/Category/Index/@item.Id_Category" style="color: white;">
                <img src="~/Image/@item.Image" style="width: 30px; height: auto;" />
                @item.Name
            </a>

        </div>
    }
}

@section SearchProductByName {
    <form action="/Product/Index">
        <input class="b1" type="search" placeholder="Nhập tên sản phẩm" id="search" name="search"
               value="@ViewBag.Search" />
        <button style="height: 30px; width: 35px; margin-left: -5px;" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
}

