@{
    ViewBag.Title = "ChiTiet";
}

<h2>ChiTiet</h2>
@using ON.Models
@model SanPham


<h2>ChiTiet</h2>
<p>Mã Sản Phẩm: @Model.MaSanPham</p>
<p>Tên Sản Phẩm: @Model.TenSP</p>
<p>Mã L: @Model.MaL</p>
<p>Mã SX: @Model.MaSX</p>   
<p>Ghi Chu: @Model.GhiChu</p>