@model IEnumerable<DoAnCuoiKi.Models.DonHang>

@{
    ViewBag.Title = "DMDonHang";
    Layout = "~/Views/Shared/KhungTrangAdmin.cshtml";
}

<h2>Danh sách đơn hàng</h2>
<table class="table">
    <tr>
        <th>
            Mã KH
        </th>
        <th>
            Tên KH
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao dự tính
        </th>
        <th>
            Đã thanh toán
        </th>
        <th>
            Tình trạng
        </th>

        <th>
            Xác nhận đơn
        </th>
        <th>
            Hiệu chỉnh
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @if (item.DaThanhToan == null)
            {
                <p>Chưa giao</p>
            }
            else
            {
                <p>Đã giao</p>
            }    
        </td>
        <td>
            @if (item.DaThanhToan == null)
            {
                <a href="/Admin/XacNhanDon/@item.MaDonHang" class="btn btn-primary">Xác nhận</a>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDonHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDonHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDonHang })
        </td>
    </tr>
}

</table>
