@model Trangweb.ViewModel.RegisterVM

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<p style="margin-left: 200px; font-size: 30px; ">Đăng ký tài khoản</p>
<div class="g2">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.Username)
                @Html.TextBoxFor(temp => temp.Username, new
                {
                    placeholder =
                "Username",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.Username)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.Password)
                @Html.PasswordFor(temp => temp.Password, new
                {
                    placeholder =
                "Password",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.Password)
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.ConfirmPassword)
                @Html.PasswordFor(temp => temp.ConfirmPassword, new
                {
                    placeholder =
                "ConfirmPassword",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.Email)
                @Html.TextBoxFor(temp => temp.Email, new
                {
                    placeholder =
                "Email",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.Email)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.Mobile)
                @Html.TextBoxFor(temp => temp.Mobile, new
                {
                    placeholder =
                "Mobile",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.Mobile)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.Birthday)
                @Html.TextBoxFor(temp => temp.Birthday, new
                {
                    placeholder =
                "Ngày sinh",
                    @class = "form-control",
                    type = "date"
                })
                @Html.ValidationMessageFor(temp => temp.Birthday)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.Address)
                @Html.TextBoxFor(temp => temp.Address, new
                {
                    placeholder =
                "Địa chỉ",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.Address)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(temp => temp.City)
                @Html.TextBoxFor(temp => temp.City, new
                {
                    placeholder =
                "Thành phố",
                    @class = "form-control"
                })
                @Html.ValidationMessageFor(temp => temp.City)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 20px;">
         
            </div>
        </div>
        <button type="submit" class="btn btn-success">Đăng ký</button>
    }
</div>