@model WEBGIAY.Models.donHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="card-header text-xl-center justify-content-xl-center">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChiNhanHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChiNhanHang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
