<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.20.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.js" integrity="sha512-F49kv+wpQXPPk83WZgrqcw/A72douvETfmyZJ1tRELBVhDEm1aXH1FOUDjP0KJzgJKZY+w3RGeOiIBQq3tddqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        .q {
            position: fixed; /* Đặt phần tử ở vị trí cố định */
            top: 0;
            left: 0;
            z-index: 5;
        }

        .a {
            margin-top: -8px;
            margin-left: -8px;
            background-color: rgb(16, 114, 58);
            width: 103%;
            height: 40px;
            float: left;
            display: grid;
            grid-template-columns: 250px 90px 170px 14px 150px 15px 160px 20px 210px 15px 170px; /* Tạo 3 cột với chiều rộng*/
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */
            color: white;
            font-family: "Your Custom Font", Arial, sans-serif;
            align-items: center; /*Căn theo chiều dọc */
        }

        .a1 {
            font-size: 18px;
        }

        .a3 {
            text-decoration: none;
            font-weight: bold;
            font-size: 23px;
            color: white;
        }

        .a2 {
            font-size: 33px;
        }

        .a4 {
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
        }

        .a i {
        }

        .a5 {
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
        }

        .a6 {
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
        }

        .a7 {
        }

        .a3:hover, .a5:hover, .a4:hover, .a6:hover {
            color: yellow;
        }

        .image {
            position: absolute;
            opacity: 0;
            width: 150px;
            height: auto;
            top: 100%;
            left: 0;
            transition: opacity 5s ease;
            z-index: 1;
        }

        .a5:not(:hover) .image {
            display: none;
        }

        .a5 {
            position: relative;
        }

            .a5:hover .image {
                opacity: 1;
            }

        .b {
            background-color: rgb(10, 146, 60);
            margin-left: -8px;
            width: 103%;
            height: 55px;
            float: left;
            display: grid;
            grid-template-columns: 70px 160px 360px 160px 20px 130px 20px 80px 170px 50px; /* Tạo 3 cột với chiều rộng*/
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */
            color: white;
            font-family: "Your Custom Font", Arial, sans-serif;
            align-items: center; /*Căn theo chiều dọc */
        }
        .b1 {
            width: 310px;
            height: 30px;
            border: 1px solid #ccc;
            outline: none;


        }

            .b1:focus {
                border: none;
            }

        .b button {
            height: 28px;
            border: 1px solid #ccc;
            width: 30px;
            border-radius: 0px 10px 10px 0px;
        }

        .b2 {
            font-size: 17px;
        }

        .b3 {
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
            font-size: 17px;
        }

        .b4 {
            border: 1px solid #FFFFFF;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
        }

        .b2:hover, .b3:hover {
            color: yellow;
        }

        .b4:hover {
            border: 1px solid #B5D818;
        }

        .c {
            background-color: rgb(10, 146, 60);
            margin-left: -8px;
            width: 103%;
            height: 45px;
            float: left;
            display: grid;
            grid-template-columns: 70px 210px 160px 180px 180px 160px 140px 150px;
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */
            color: white;
            font-family: "Your Custom Font", Arial, sans-serif;
            align-items: center; /*Căn theo chiều dọc */
        }

        .c1 {
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
            background-color: rgb(4, 119, 47);
            height: 45px;
            width: 100%;
        }


        .c3 {
            display: flex;
            justify-content: center;
            align-items: center; /*Căn theo chiều dọc */
            background-color: rgb(10, 146, 60);
            height: 44px;
            border-top: 1px solid #6DBCE8;
            border-right: 1px solid #6DBCE8;
            font-size: 14px;
        }

            .c2:hover, .c3:hover {
                background-color: rgb(4, 119, 47);
            }

        .c a {
            text-decoration: none;
        }


        .sub-menu1 {
            list-style: none;
            width: 210px;
            position: absolute;
            left: 62px;
            top: 115px;
            background-color: green;
            display: none;
            transition: opacity linear 0.15s;
            padding: 10px 10px 10px 20px; /* trên phải dưới trái */
            align-items: center;
            z-index: 1;
        }

        .c1:hover .sub-menu1 {
            display: block;
        }

        .sub-menu1 li {
            height: 40px;
            display: flex;
            align-items: center; /*Căn theo chiều dọc */
        }

            .sub-menu1 li a {
                color: white;
                font-size: 17px;
            }

        a {
            text-decoration: none;
        }

        .f {
            width: 100%;
            background-color: rgb(238,238,238);
            padding-top: 20px;
            display: grid;
            grid-template-columns: 70px 460px 250px 230px 300px; /* Tạo 3 cột với chiều rộng*/
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */
            color: black;
            font-size: 13px;
            font-family: "Your Custom Font", Arial, sans-serif;
        }

        .f1 {
            display: flex;
            margin-bottom: 10px;
            align-items: center; /*Căn theo chiều dọc */
        }

        .f2 {
            width: 23px;
            margin-right: 5px;
        }

        .f3 {
            display: flex;
        }

        .f4 div {
            margin-bottom: 10px;
        }

        .f5 {
            font-weight: bold;
        }

        body {
        }

        .f6 {
            margin-top: 50px;
            width: 100%;
            background-color: rgb(238,238,238);
            display: grid;
            grid-template-columns: 70px 460px 250px 230px 300px; /* Tạo 3 cột với chiều rộng*/
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */
            color: black;
            font-size: 13px;
            font-family: "Your Custom Font", Arial, sans-serif;
        }

        .carousel-control-prev, .carousel-control-next {
            height: 35px;
            width: 40px;
            background: #7ac400;
            margin: auto 0px;
            border-radius: 4px;
            opacity: 0.5;
        }

            .carousel-control-prev:hover, .carousel-control-next:hover {
                background: #78bf00;
                opacity: 1;
            }

            .carousel-control-prev i, .carousel-control-next i {
                font-size: 36px;
                position: absolute;
                top: 50%;
                display: inline-block;
                margin: -19px 0 0 0;
                z-index: 5;
                left: 0;
                right: 0;
                color: #fff;
                text-shadow: none;
                font-weight: bold;
            }



            .container-fluid {
    max-width: 1000px;
	float: left;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.card-img-top {
    width: 70%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: rgb(10, 146, 60);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;

}

.aff-link {

    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;

}

@*@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}*@
.bg-success {
    font-size: 25px;
}
.bg-danger {
    font-size: 1rem;
}
.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    /* content: "\\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}

        .g {
            width: 100%;
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */

            margin-bottom: 40px;
            float: left;
        }
        .e {
            padding-top: 10px;
            background-color: white;
            margin-left: 64px;
            width: 1170px;
            display: grid;
            grid-template-columns: 510px 180px 380px 200px;
            /* Tạo 3 cột với chiều rộng*/
            /*grid-gap: auto; /* Khoảng cách giữa các ô là 10px */
            color: white;
            font-family: "Your Custom Font", Arial, sans-serif;
            align-items: center; /*Căn theo chiều dọc **/
        }

        .countdown {
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 18px;
        }

        .countdown-part {
            display: inline-block;
            margin: 0 3px;
            padding: 10px;
            background-color: rgb(8, 76, 37);
            color: #fff;
            border-radius: 5px;
        }
        #Id_Category-error {
            color: red;
        }

        .g1 {
            width: 100%;
            z-index: 1;
            float: left;
        }




        .g2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            z-index: 1;
        }
        .g2 input{
            width: 350px;
        }
      
    </style>

</head>
<body>
    <div class="q">
        <div class="a">
            <div style="margin-left: 30px;">
                @if (User.Identity.IsAuthenticated)
                {
                    <div style="color: white; font-weight: bold">
                        xin chào @User.Identity.Name
                    </div>
                }
            </div>
            <div class="a1"> HOTLINE</div>
            <div><a class="a3" href="tel:+842877702614" rel="nofollow"><span class="number">028 7770 2614</span></a></div>
            <div class="a2">|</div>
            <div class="a4">Khuyến mãi <i style="margin-left: 5px;" class="fa-solid fa-tags fa-beat-fade fa-sm"></i></div>
            <div class="a2">|</div>
            <div class="a5"><i style="margin-right: 4px;" class="fa-solid fa-cloud-arrow-down"></i>Tải ứng dụng<img src="image/Screenshot 2023-05-25 201233.png" class="image"></div>
            <div class="a2">|</div>
            <div class="a6"><i style="margin-right: 4px;" class="fa-solid fa-share-nodes"></i>Dành cho Cộng tác viên</div>
            <div class="a2">|</div>
            <div class="a6"><i style="margin-right: 4px;" class="fa-brands fa-facebook-messenger"></i>Chat với chúng tôi</div>

        </div>
        <div class="b">
            <div></div>
            <div><img src="~/Image/logo.png" style="width: 150px; height: auto;"></div>
            <div>           @RenderSection("SearchProductByName", required: false)          </div>
            <div class="b2"><i style="margin-right: 4px;" class="fa-regular fa-bell fa-bounce"></i>Thông báo cho tôi</div>
            <div class="a2"></div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="b3" style="color: white; font-weight: bold">
                    xin chào @User.Identity.Name
                </div>
                <div class="a2">|</div>
                <div class="b2"><a href="/Account/Logout" style=" color: white; margin-left: -8px;";>Đăng xuất</a></div>
            }
            else
            {
                <div class="b3"><i style="margin-right: 5px;" class="fa-regular fa-user"></i><a href="/Account/Login" style="color: white;">Đăng nhập</a></div>
                <div class="a2">|</div>
                <div class="b2"><a href="/Account/Register" style="color: white;">Đăng kí</a></div>
            }
            <div class="b4"><i style="font-size: 25px;" class="fa-solid fa-store"></i>Giao hàng từ kho:<br> Bình Thạnh	</div>
            <div style="margin-left: 25px;"><a href="/Cart" style="color: white;"><i style="font-size: 25px;" class="fa-solid fa-cart-shopping"></i></a></div>
        </div>
        <div class="c">

            @RenderSection("narbar", required: false)
            @*<div></div>*@
            @*<div class="c1">
            <i class="fa-solid fa-bars"></i>DANH MỤC SẢN PHẨM
            <ul class="sub-menu1">
                <li><a href="#">Đi chợ online</a></li>
                <li><a href="#">Trái cây tươi ngon</a></li>
                <li><a href="#">Đồ sấy - Bánh kẹo</a></li>
                <li><a href="#">Ready to cook</a></li>
                <li><a href="#">Quà tặng đặc biệt</a></li>
                <li><a href="#">Đặc sản vùng miền</a></li>
                <li><a href="#">Trà – Cà phê - Socola</a></li>
                <li><a href="#">Sống xanh</a></li>
                <li><a href="#">Đồ uống có cồn</a></li>
            </ul>

        </div>
        <div class="c3">
            <i class="fa-solid fa-bowl-rice" style="margin-right: 4px; font-size: 25px;"></i>
            ĐI CHỢ <br>ONLINE

        </div>
        <div class="c3">
            <img src="image/fruits.png" style="width: 30px; height: auto;">TRÁI CÂY<br>THEO MÙA


        </div>
        <div class="c3">
            <img src="image/vegetable.png" style="width: 30px; height: auto;">RAU-CỦ-QUẢ


        </div>
        <div class="c3">
            <img src="image/tea-cup.png" style="width: 30px; height: auto;"><img src="image/coffee.png" style="width: 30px; height: auto;">TRÀ<br>CÀ PHÊ
        </div>
        <div class="c3">
            <img src="image/present.png" style="width: 30px; height: auto; margin-right: 3px;">ĐẶC SẢN


        </div>
        <div class="c3">
            <img src="image/planet-earth.png" style="width: 30px; height: auto;">AGRISHOW
        </div>*@
        </div>
    </div>

 
    <div style="margin-top: 140px;">
        @RenderBody()
    </div>

    <div class="f">
        <div></div>
        <div>
            <div class="f1">
                <img src="~/Image/f1.png" class="f2">CÔNG TY TNHH CÔNG NGHỆ VÀ THƯƠNG
                MAI UFO
            </div>
            <div class="f1">
                <img src="~/Image/f2.png" class="f2">Địa chỉ ĐKKD: 114 Đường 9A, Xã Bình Hưng,
                Huyện Bình Chánh,<br> Thành phố Hồ Chí Minh, Việt Nam
            </div>

            <div class="f1">
                <img src="~/Image/f3.png" class="f2">Kho Bình Thạnh: 195 Phan Văn Trị, Phường
                14, Quận Bình Thạnh, <br>Thành phố Hồ Chí Minh, Việt Nam
            </div>
            <div class="f1">
                <img src="~/Image/f4.png" class="f2">Email: info@foodmap.asia
            </div>
            <div class="f1">
                <img src="~/Image/f5.png" class="f2">Hotline: 02877702614 (8h00-18h00)
            </div>
            <div class="f1">
                <img src="~/Image/f6.png" class="f2">Giấy chứng nhận Đăng ký Kinh doanh số 0314592854 do<br> Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh <br>cấp ngày
                24/08/2017
            </div>
        </div>
        <div class="f4">
            <div class="f5">TÀI KHOẢN</div>
            <div>Tài khoản của tôi</div>
            <div>Điểm thưởng của bạn</div>

            <div class="f5">THÔNG TIN</div>
            <div>Về Foodmap.asia</div>
            <div>Điều khoản và điều kiện sử dụng</div>
            <div>Chính sách bảo mật thông tin</div>
            <div>Xuất Khẩu/Export</div>
            <div>Tuyển dụng</div>
        </div>
        <div class="f4">
            <div class="f5">HỖ TRỢ KHÁCH HÀNG</div>
            <div>Tích lũy - Sử dụng điểm</div>
            <div>Phương thức thanh toán</div>
            <div>Giao hàng - Đổi trả</div>
            <div>Chính sách đổi trả và hoàn tiền</div>
            <div>Chính sách bảo mật</div>
            <div>Kiểm tra đơn hàng</div>
        </div>
        <div class="f4">
            <div class="f5">KẾT NỐI VỚI FOODMAP</div>
            <div><a href="#"><img src="~/Image/f7.png" style="width: 200px;"></a></div>
            <div class="f3">
                <a href="#"><img src="~/Image/f8.png" style="width: 130px; margin-right: 10px;"></a>
                <a href="#"><img src="~/Image/f9.png" style="width: 50px;"></a>
            </div>
            <div><a href="#"><img src="~/Image/f10.png" style="width: 200px;"></a></div>
        </div>
    </div>

</body>
</html>
