@model IEnumerable<DuongVanKhuong_B12.Models.GioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/KhungTrangChinh.cshtml";
}

<h3>Thông tin giỏ hàng đã chọn</h3>

<table class="table">
    <tr>
        <th>
            Mã sách
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Thành tiền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.masach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tensach)
        </td>
        <td style="width:100px">
            <img src="/Hinh/@item.hinh" class="card-img-top" alt="...">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slmua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhtien)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    
}
    <tr>
        <td>Tổng</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
